
.hero{
  background: linear-gradient(290.1deg, rgba(153, 192, 251, 0.46) 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  max-width: 800px;
  margin-left: 25px;
  font-family: 'Inter', sans-serif;
  display: flex;
  padding: 0 140px;
  position: relative;
  padding-bottom: 200px;
}
.logo{
  margin-top: 75px;
  margin-bottom: 130px;
}
.hero-info{
  width: 510px;
}
h1{
  color: white;
  font-size: 64px;
  line-height: 110%;
  margin-bottom: 35px;
}
.hero-info-text{
  font-size: 16px;
  line-height: 150%;
  color: #D8E2E7;
}
.light-theme .hero-info-text{
  color: #5E6E85;
}
.hero-form{
  display: flex;
  flex-direction: column;
  background-color: #253347;
  padding: 32px;
  position: absolute;
  left: 736px;
  top: 181px;   
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
  max-width: 564px;
}
.light-theme .hero-form{
  background-color: #ffffff;
}
h4{
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.hero-radio, .hero-input, .input-with-unit-row, .bmi-results-meaning{
  display: flex;
}
.hero-input-raw {
  display: flex;
  flex-direction: column;
}
.input-container{
  display: flex;
  flex-direction: column;
  margin: 35px 0;
}
.input-container label{
  color: #A8ACB1;
  font-weight: 400;
  font-size: 14px;
}

.label-radio{
  font-size: 16px;
  color: #FFFFFF;
  width: 238px;
  cursor: pointer;
}
input{
  color: #FFFFFF;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.input-with-unit  {
  position: relative;
  width: 238px;
  display: flex;
}

.unit{
  color: #345FF6;
  z-index: 1;
  position: relative;
  left: -50px;
  top: 5px;
  font-size: 24px;
}
.input-with-unit input {
  border: none;
  padding: 5px;
  outline: none;
  margin-top: 8px;
  padding: 20px;
  background: #253347;
  border: 1px solid #D8E2E7;
  border-radius: 12px;
 
}

.input-with-unit input:focus {
  border: 1px solid #345FF6;
}

.input-with-unit #unit {
  position: absolute;
  right: 5px;
  bottom: 6px;
  color: #777;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.result-means{
  display: flex;
  align-items: flex-end;
  padding: 65px 140px 0 140px;
}
.dark-mode-img{
  display: block;
}
.light-mode-img{
  display: none;
}
.result-text{
  margin-left: 131px;
  padding-bottom: 35px;
}
.result-par{
  font-size: 16px;
  line-height: 150%;
  color: #D8E2E7;
}
h2{
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.line{
  position: absolute;
  width: 85px;
  height: 200px;
  right: 168px;
  top: 700px;
}
.hero-welcome{
  padding: 32px;
  background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
  border-radius: 16px 999px 999px 16px;
  color: #FFFFFF;
}
.bmi-results-meaning{
  align-items: center;
  justify-content: space-between;
}
h3{
  font-size: 24px;
  letter-spacing: -0.05em;
  padding-bottom:16px ;
}
.hero-welcome p{
  font-size: 14px;
  line-height: 150%;
}
#bmi-message{
  width: 250px;
}
.tips-component{
  background-image: url("./assets/tips-bg-dark.png");
  background-position: center;
  background-size: cover;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  padding: 84px 120px;
  margin: 85px 24px 130px 24px;
}
.tips-image{
  margin-bottom: 45px;
}
.tips-text{
  color: #D8E2E7;
  font-size: 16px;
  line-height: 150%;
  width: 365px;
}
.bmi-limitations{  
  padding: 20px 140px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px 32px;
  grid-auto-flow: row;
  grid-template-areas: 
    "text text text text text text . gender gender gender gender ."
    ". . lineTwo . age age age age muscle muscle muscle muscle"
    ". . baby baby baby baby race race race race . ."; 
}

.text { 
  grid-area: text; 
  color: #FFFFFF;
}

.gender { grid-area: gender; }

.muscle { grid-area: muscle; }

.age { grid-area: age; }

.baby { grid-area: baby; }

.race { grid-area: race; }

.lineTwo { grid-area: lineTwo; }

article{
  padding: 32px;
  background: #253347;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
  width: 365px;
}
h5{
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  padding-bottom: 20px;
}
article p{
  font-size: 16px;
  line-height: 150%;
  color: #D8E2E7;
}

@media all and (max-width: 1280px) {
  .hero-form{
    left: 600px;
  }
  .dark-theme-img, .light-theme-img, .hero-info {
    width: 400px;
  }
  .input-with-unit, .label-radio {
    width: 200px;
  }
  .line {
    right: 73px;
    top: 651px;
  }
  .bmi-limitations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
  }
  .text{
    padding: 40px;
  }
  .lineTwo{
    display:none;
  }
}
@media all and (max-width: 1095px){
  .logo, .result-text, .tips-component, .tips-image{
    margin: auto;
  }
  .hero{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-info{
    width: auto;
  }
  .hero-form{
    position: inherit;
  }
  h1, .hero-info-text{
    text-align: center;
    margin-bottom: 20px;
  }
  .result-means{
    padding: 20px;
    align-items: center;
  }
  .result-text{
    padding-left: 20px;
  }
  .tips-component{
    flex-direction: column;
  }
  .tips-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
    padding: 80px 40px;
  }
  .tip{
    display: flex;
    flex-direction: column;
  }
  .tips-text{
    width: 500px;
  }
  .input-with-unit, .label-radio {
    width: 240px;
  }
  .line{
    display: none;
  }
  .tips-image{
    padding: 20px;
  }
}
@media all and (max-width: 700px){
  h1{
    font-size: 40px;
  }
  .result-means{
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
  .result-text{
    margin: auto;
  }
  h2{
    text-align: center;
  }
  .tips-container{
    padding: 40px;
  }
  .hero{
    max-width: 100%;
    margin: 0;
    padding: 0 30px;
  }
  .hero-input, .tips-container,   .bmi-results-meaning, .input-with-unit{
    flex-direction: column;
  }
  .input-with-unit, .label-radio,  .tips-text,   .dark-theme-img, .light-theme-img, #bmi-message, article {
    width: 100%;
  }
  .tips-component{
    padding: 0;
  }
  .tip{
    align-items: center;
    justify-content: center;
  }

  .input-with-unit {
    position: relative;
    display: inline-block;
  }
  
  .input-with-unit input {
    padding-right: 30px; 
  }
  
  .input-with-unit span {
    top: 50%;
  }
  .hero-input-raw{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width:320px) {
  .unit {
    left: auto;
  }
}
